@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

* {
  @apply border-slate-200;
}

body {
  @apply bg-slate-50 font-sans text-slate-900;
  font-family: var(--font-manrope), sans-serif;
}

.font-display {
  font-family: var(--font-space-grotesk), sans-serif;
}
